<?xml version="1.0"?>
<launch>

  <arg name="scene"/>
  <arg name="rviz_config" default="$(find kl_planning)/config/rviz/nav_2d.rviz"/>
  <arg name="debug"       default="false"/>

  <!-- ===================================================================================== -->

  <param name="scene" value="$(arg scene)"/>
  
  <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(arg rviz_config)"/>

  <node name="scene_manager" pkg="kl_planning" type="scene_manager.py" output="screen">
    <param name="config_filename" value="nav_2d/$(arg scene).yaml"/>
  </node>

  <node name="world_frame_publisher" pkg="tf" type="static_transform_publisher"
        args="0 0 0 0 0 0 1 map world 100"/>
  <node name="kl_img_frame_publisher" pkg="tf" type="static_transform_publisher" 
        args="-0.05 -0.04 -0.01 3.14159 3.14159 0 world kl_img 100"/>

  <node name="rviz_display_img" pkg="kl_planning" type="display_rviz_imgs.py" output="screen"/>

  <node name="visualize_trajectory_samples" pkg="kl_planning"
        type="visualize_trajectory_samples.py" output="screen">
    <param name="debug" value="$(arg debug)"/>
  </node>

</launch>
